/* ==========================
   FOOTER
========================== */
footer{
    margin-top:140px;
    padding:48px 0 70px;
    border-top:1px solid var(--border);
    text-align:center;
}

footer a{
    display:inline-block;
    color:var(--primary);
    font-weight:600;
    margin-bottom:18px;
    transition:var(--transition);
}

footer a:hover{
    color:var(--primary-dark);
}

footer p{
    font-size:14px;
    color:var(--text-light);
}
